<!DOCTYPE html>
<html>
<head>
	<title>Calendar</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.2/vue.min.js"></script>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body >
	<div id='app'>

		<!--<button v-on:click="buildCalendar(2018, 8)">click</button>-->
		<div>
			<button @click="prewYear()"><<</button>
			<span><b>{{selectedDate.year}}</b></span>
			<button @click="nextYear()">>></button>
			<br>
			<button @click="prewMonth()"><</button>
			<span><b>{{months[selectedDate.month]}}</b></span>
			<button @click="nextMonth()">></button>
			
		</div>
		<table>
			<tr>
				<th v-for="(day, i) in weekDays">
					{{day}}
				</th>
			</tr>
			<tr v-for="(week,i) in monthArr">
				<td v-for="day in week">
					<!--
					<template v-if="day == null">
					</template>	 	
					<template v-if="day.class == 'today'">
					</template>
					<template v-else-if="day.class == 'holiday'">
						
					</template>
					<template v-else-if="day.class == 'planned'">
						<span class="planned"></span>{{day.day}}
						
					</template>	
					-->
					<template v-if="day == null">
					</template>
					<template v-else="">
						<template v-if="day.isAccess">
							<div @click.stop="showEvents(day.day)" v-bind:class="{today: day.isToday, planned: day.isPlanned, holiday: day.isHoliday}">
							{{day.day}}</div>
						</template>
						<template v-else>
							<div v-bind:class="{today: day.isToday, planned: day.isPlanned, holiday: day.isHoliday}">{{day.day}}</div>
						</template>
					</template>	 
				</td>
			</tr>
		</table>
		<div>			
			<template v-if="this.selectedDate.day">
				<h2>{{this.dayOfWeek()}}, {{this.selectedDate.day}}</h2>
				<template>
					<table>
						<tr v-for="(event,i) in this.currEvents">
							<td>{{event.name}}</td>
							<td><button @click="removeEvent(i)">Delete</button></td>
						</tr>
					</table>
				</template>
				<h2>Add event</h2>
				<div style=>
					<input v-model="eventName" type="text" name="event-name" requried minlength="5">
					<button @click="addEvent()">Add event</button>
				</div>
				
			</template>
			
		</div>
	</div>
	
	<script type="text/javascript" src="js/main.js"></script>
</body>
</html>